#define APSTUDIO_READONLY_SYMBOLS 0
#define IDB_BACK 1
#define IDB_CHAT 2
#define IDB_CLIST 3
#define IDB_DOWN 4
#define IDB_EDIt 5
#define IDB_HISTORY 6
#define IDB_MINUS 7
#define IDB_OPEN 8
#define IDB_PLUS 9
#define IDB_PREV 10
#define IDB_REPLY 11
#define IDB_SEND 12
#define IDB_UP 13
#define IDI_NOTICK 14
#define IDI_TICK 15
#define IDB_NEXT 16
#define IDB_STATUS_OFFLINE 17
#define IDB_STATUS_ONLINE 18
#define IDB_STATUS_INVISIBLE 19
#define IDB_STATUS_AWAY 20
#define IDB_STATUS_NA 21
#define IDB_STATUS_OCCUPIED 22
#define IDB_STATUS_DND 23
#define IDB_STATUS_FFC 24
#define IDB_EVENT_INFO 25
#define IDB_EVENT_INFO_LARGE 26
#define IDB_EVENT_USER 27
#define IDB_EVENT_USER_LARGE 28
#define IDB_EVENT_CON 29
#define IDB_EVENT_CON_LARGE 39
#define IDB_EVENT_MSG 31
#define IDB_EVENT_MSG_LARGE 32
#define IDD_FONTS 102
#define IDC_STATIC11 3000
#define IDC_SHOW_LABELS 3001
#define IDC_STATIC12 3002
#define IDC_STATIC13 3003
#define IDC_SAMPLE1 3004
#define IDC_CHOOSEFONT1 3005
#define IDC_STATIC15 3006
#define IDC_SAMPLE2 3007
#define IDC_CHOOSEFONT2 3008
#define IDC_STATIC17 3009
#define IDC_SAMPLE3 3010
#define IDC_CHOOSEFONT3 3011
#define IDC_STATIC14 3012
#define IDC_SAMPLE4 3013
#define IDC_CHOOSEFONT4 3014
#define IDC_STATIC16 3015
#define IDC_SAMPLE5 3016
#define IDC_CHOOSEFONT5 3017
#define IDC_CONTROL_BACKLIGHTS 3018
#define IDC_HOOK_VOLUMEWHEEL 3019
#define IDC_STC10 3021
#define IDC_TIMESTAMP_SECONDS 3020
#define IDC_TRANSITIONS 3022
#define IDD_NOTIFICATIONS 103
#define IDC_STATIC18 4000
#define IDC_STATIC19 4007
#define IDC_STATIC24 4011
#define IDC_GRP3 4029
#define IDC_NOTIFY_TITLEHIDE 4008
#define IDC_NOTIFY_TITLENAME 4009
#define IDC_STATIC20 4001
#define IDC_STATIC22 4004
#define IDC_NOTIFY_LOGSIZE 4002
#define IDC_NOTIFY_DURATION 4005
#define IDC_STATIC21 4003
#define IDC_STATIC23 4006
#define IDC_NOTIFY_MESSAGES 4014
#define IDC_NOTIFY_SIGNOFF 4016
#define IDC_NOTIFY_STATUS 4017
#define IDC_NOTIFY_PROTO_SIGNOFF 4020
#define IDC_NOTIFY_PROTO_SIGNON 4021
#define IDC_NOTIFY_PROTO_STATUS 4022
#define IDC_STATIC25 4012
#define IDC_NOTIFY_SIGNON 4015
#define IDC_PROTOCOLS 4013
#define IDC_NOTIFY_SECTION 4023
#define IDC_STC11 4024
#define IDC_NOTIFY_SKIP_STATUS 4028
#define IDC_NOTIFY_SKIP_SIGNOFF 4027
#define IDC_NOTIFY_SKIP_MESSAGES 4025
#define IDC_NOTIFY_SKIP_SIGNON 4026
#define IDC_NOTIFY_TIMESTAMPS 4030
#define IDC_NOTIFY_NICKCUTOFF 4031
#define IDC_NOTIFY_NICKCUTOFF_OFFSET 4032
#define IDC_STC13 4033
#define IDC_NOTIFY_SHOWPROTO 4034
#define IDD_CLIST 1001
#define IDC_STATIC9 2000
#define IDC_CLIST_SHOWPROTO 2001
#define IDC_CLIST_HIDEOFFLINE 2002
#define IDC_STATIC10 2005
#define IDC_CLIST_DRAWLINES 2006
#define IDC_CLIST_COUNTERS 2007
#define IDC_CLIST_POSITION 2009
#define IDC_CLIST_GA_EXPAND 2012
#define IDC_CLIST_GA_COLLAPSE 2011
#define IDC_CLIST_GA_NONE 2010
#define IDC_STC8 2008
#define IDC_CLIST_USEGROUPS 2013
#define IDC_GRP58 2015
#define IDC_STC12 2016
#define IDC_CLIST_PROTOFILTER 2017
#define IDC_CLIST_COLUMNS 2018
#define IDD_CHAT 100
#define IDC_STATIC2 1003
#define IDC_STATIC3 1004
#define IDC_MAXIMIZED_TITLE 1005
#define IDC_MAXIMIZED_LABELS 1006
#define IDC_STATIC4 1007
#define IDC_SESSION_SCROLL_MAXIMIZED 1010
#define IDC_STATIC6 1011
#define IDC_SESSION_LOGSIZE 1012
#define IDC_STATIC5 1013
#define IDC_STATIC8 1014
#define IDC_SESSION_SCROLLNONE 1015
#define IDC_SESSION_SCROLLFIRST 1016
#define IDC_SESSION_SCROLLLAST 1017
#define IDC_STATIC7 1018
#define IDC_SESSION_SYMBOLS 1019
#define IDC_SESSION_SENDRETURN 1020
#define IDC_SESSION_REPLY_MAXIMIZED 1021
#define IDC_SESSION_TIMESTAMPS 1022
#define IDD_PREFS 105
#define IDC_STC1 5000
#define IDC_REFRESHLIST 5001
#define IDC_STC2 5002
#define IDC_STC3 5003
#define IDC_GRP1 5004
#define IDC_GRP2 5005
#define IDC_STC4 5006
#define IDC_STC5 5007
#define IDC_STC6 5008
#define IDC_STC7 5009
#define IDC_STC9 5011
#define IDC_CREDITS 5010
#include "resource.h"
IDB_BACK BITMAP DISCARDABLE "data/back.bmp"
IDB_CHAT BITMAP DISCARDABLE "data/chat.bmp"
IDB_CLIST BITMAP DISCARDABLE "data/clist.bmp"
IDB_DOWN BITMAP DISCARDABLE "data/down.bmp"
IDB_EDIt BITMAP DISCARDABLE "data/edit.bmp"
IDB_HISTORY BITMAP DISCARDABLE "data/hist.bmp"
IDB_MINUS BITMAP DISCARDABLE "data/minus.bmp"
IDB_OPEN BITMAP DISCARDABLE "data/open.bmp"
IDB_PLUS BITMAP DISCARDABLE "data/plus.bmp"
IDB_PREV BITMAP DISCARDABLE "data/prev.bmp"
IDB_REPLY BITMAP DISCARDABLE "data/reply.bmp"
IDB_SEND BITMAP DISCARDABLE "data/send.bmp"
IDB_UP BITMAP DISCARDABLE "data/up.bmp"
IDI_NOTICK ICON DISCARDABLE "data/notick.ico"
IDI_TICK ICON DISCARDABLE "data/tick.ico"
IDB_NEXT BITMAP DISCARDABLE "data/next.bmp"
IDB_STATUS_OFFLINE BITMAP DISCARDABLE "data/status/off.bmp"
IDB_STATUS_ONLINE BITMAP DISCARDABLE "data/status/on.bmp"
IDB_STATUS_INVISIBLE BITMAP DISCARDABLE "data/status/invis.bmp"
IDB_STATUS_AWAY BITMAP DISCARDABLE "data/status/away.bmp"
IDB_STATUS_NA BITMAP DISCARDABLE "data/status/na.bmp"
IDB_STATUS_OCCUPIED BITMAP DISCARDABLE "data/status/occ.bmp"
IDB_STATUS_DND BITMAP DISCARDABLE "data/status/dnd.bmp"
IDB_STATUS_FFC BITMAP DISCARDABLE "data/status/ffc.bmp"
IDB_EVENT_INFO BITMAP DISCARDABLE "data/events/info.bmp"
IDB_EVENT_INFO_LARGE BITMAP DISCARDABLE "data/events/info_large.bmp"
IDB_EVENT_USER BITMAP DISCARDABLE "data/events/user.bmp"
IDB_EVENT_USER_LARGE BITMAP DISCARDABLE "data/events/user_large.bmp"
IDB_EVENT_CON BITMAP DISCARDABLE "data/events/conn.bmp"
IDB_EVENT_CON_LARGE BITMAP DISCARDABLE "data/events/conn_large.bmp"
IDB_EVENT_MSG BITMAP DISCARDABLE "data/events/msg.bmp"
IDB_EVENT_MSG_LARGE BITMAP DISCARDABLE "data/events/msg_large.bmp"
IDD_FONTS DIALOGEX 0,0,260,185
CAPTION "Fonts"
FONT 8,"MS Shell Dlg",400,0,1
STYLE 0x40000400
BEGIN
  CONTROL "General settings",IDC_STATIC11,"Button",0x50000007,0,0,258,80
  CONTROL "Show softkey labels",IDC_SHOW_LABELS,"Button",0x50010003,6,11,84,13
  CONTROL "Fonts",IDC_STATIC12,"Button",0x50000007,0,81,258,100
  CONTROL "Event log:",IDC_STATIC13,"Static",0x50020000,10,90,72,9
  CONTROL "Sample",IDC_SAMPLE1,"Static",0x50820201,10,101,72,13
  CONTROL "...",IDC_CHOOSEFONT1,"Button",0x50010000,88,101,18,13
  CONTROL "Message log:",IDC_STATIC15,"Static",0x50020000,10,120,72,9
  CONTROL "Sample",IDC_SAMPLE2,"Static",0x50820201,10,131,72,13
  CONTROL "...",IDC_CHOOSEFONT2,"Button",0x50010000,88,131,18,13
  CONTROL "Contactlist:",IDC_STATIC17,"Static",0x50020000,10,149,72,9
  CONTROL "Sample",IDC_SAMPLE3,"Static",0x50820201,10,160,72,13
  CONTROL "...",IDC_CHOOSEFONT3,"Button",0x50010000,88,160,18,13
  CONTROL "Titles:",IDC_STATIC14,"Static",0x50020000,130,90,72,9
  CONTROL "Sample",IDC_SAMPLE4,"Static",0x50820201,130,101,72,13
  CONTROL "...",IDC_CHOOSEFONT4,"Button",0x50010000,208,101,18,13
  CONTROL "Notifications:",IDC_STATIC16,"Static",0x50020000,130,120,72,9
  CONTROL "Sample",IDC_SAMPLE5,"Static",0x50820201,130,131,72,13
  CONTROL "...",IDC_CHOOSEFONT5,"Button",0x50010000,208,131,18,13
  CONTROL "Turn off backlights while screensaver is active",IDC_CONTROL_BACKLIGHTS,"Button",0x50010003,6,22,160,13
  CONTROL "Use the VolumeWheel to scroll up and down",IDC_HOOK_VOLUMEWHEEL,"Button",0x50010003,14,55,160,11
  CONTROL "If the applet is active:",IDC_STC10,"Static",0x50000000,6,46,106,9
  CONTROL "Show seconds in timestamps",IDC_TIMESTAMP_SECONDS,"Button",0x50010003,6,33,212,13
  CONTROL "Use transition effects when changing screens",IDC_TRANSITIONS,"Button",0x50010003,14,66,160,11
END
IDD_NOTIFICATIONS DIALOGEX 0,0,260,255
CAPTION "Notifications"
FONT 8,"MS Shell Dlg",400,0,1
STYLE 0x40000400
BEGIN
  CONTROL "General settings",IDC_STATIC18,"Button",0x50000007,0,0,144,74
  CONTROL "Notification screen title",IDC_STATIC19,"Button",0x50000007,0,77,144,46
  CONTROL "Hide it",IDC_NOTIFY_TITLEHIDE,"Button",0x50010009,8,84,102,13
  CONTROL "Show the plugin name",IDC_NOTIFY_TITLENAME,"Button",0x50010009,8,96,104,13
  CONTROL "Size of the log",IDC_STATIC20,"Static",0x50020000,2,24,48,13
  CONTROL "Notification duration",IDC_STATIC22,"Static",0x50020000,2,36,66,11
  CONTROL "",IDC_NOTIFY_LOGSIZE,"Edit",0x50012080,88,22,24,11,0x00000200
  CONTROL "",IDC_NOTIFY_DURATION,"Edit",0x50012080,88,35,24,11,0x00000200
  CONTROL "events",IDC_STATIC21,"Static",0x50020000,114,22,24,13
  CONTROL "seconds",IDC_STATIC23,"Static",0x50020000,114,35,28,13
  CONTROL "Notification types",IDC_STATIC24,"Button",0x50000007,2,125,258,128
  CONTROL "Incoming messages",IDC_NOTIFY_MESSAGES,"Button",0x50010003,8,136,102,13
  CONTROL "Contact signs off",IDC_NOTIFY_SIGNOFF,"Button",0x50010003,8,158,102,13
  CONTROL "Contact changes status",IDC_NOTIFY_STATUS,"Button",0x50010003,8,169,102,13
  CONTROL "Protocol disconnected",IDC_NOTIFY_PROTO_SIGNOFF,"Button",0x50010003,8,180,102,13
  CONTROL "Protocol connected",IDC_NOTIFY_PROTO_SIGNON,"Button",0x50010003,8,192,102,13
  CONTROL "Protocol status changes",IDC_NOTIFY_PROTO_STATUS,"Button",0x50010003,8,203,102,13
  CONTROL "Show only events from the following protocols (you can only add connected protocols):",IDC_STATIC25,"Static",0x50020000,140,136,108,24
  CONTROL "Contact signs on",IDC_NOTIFY_SIGNON,"Button",0x50010003,8,147,102,13
  CONTROL "",IDC_PROTOCOLS,"SysTreeView32",0x50810001,140,162,110,81
  CONTROL "Show the contactlist name",IDC_NOTIFY_SECTION,"Button",0x50010003,20,110,96,9
  CONTROL "Chatsession specific",IDC_GRP3,"Button",0x50008007,146,0,114,124
  CONTROL "When a chatsession is active, skip the following notifications for that contact:",IDC_STC11,"Static",0x50000000,152,11,102,24
  CONTROL "Contact changes status",IDC_NOTIFY_SKIP_STATUS,"Button",0x50010003,154,70,102,13
  CONTROL "Contact signs off",IDC_NOTIFY_SKIP_SIGNOFF,"Button",0x50010003,154,59,102,13
  CONTROL "Incoming messages",IDC_NOTIFY_SKIP_MESSAGES,"Button",0x50010003,154,36,102,13
  CONTROL "Contact signs on",IDC_NOTIFY_SKIP_SIGNON,"Button",0x50010003,154,48,102,13
  CONTROL "Show timestamps",IDC_NOTIFY_TIMESTAMPS,"Button",0x50010003,4,9,102,11
  CONTROL "Cutoff nicknames after",IDC_NOTIFY_NICKCUTOFF,"Button",0x50010003,4,48,82,11
  CONTROL "",IDC_NOTIFY_NICKCUTOFF_OFFSET,"Edit",0x50012080,88,48,24,11,0x00000200
  CONTROL "chars",IDC_STC13,"Static",0x50020000,114,48,24,11
  CONTROL "Show protocol labels",IDC_NOTIFY_SHOWPROTO,"Button",0x50010003,4,59,82,11
END
IDD_CLIST DIALOGEX 0,0,260,176
CAPTION "Contactlist"
FONT 8,"MS Shell Dlg",400,0,1
STYLE 0x40000400
BEGIN
  CONTROL "General settings",IDC_STATIC9,"Button",0x50000007,0,0,130,128
  CONTROL "Show the contacts protocols",IDC_CLIST_SHOWPROTO,"Button",0x50010003,6,11,102,13
  CONTROL "Hide offline users",IDC_CLIST_HIDEOFFLINE,"Button",0x50010003,6,22,102,13
  CONTROL "Grouped mode",IDC_STATIC10,"Button",0x50000007,0,131,260,39
  CONTROL "Draw tree lines",IDC_CLIST_DRAWLINES,"Button",0x50010003,6,140,102,13
  CONTROL "Show counters behind group names",IDC_CLIST_COUNTERS,"Button",0x50010003,6,153,150,13
  CONTROL "Reset selection",IDC_CLIST_POSITION,"Button",0x50010003,16,73,108,11
  CONTROL "Expand all groups",IDC_CLIST_GA_EXPAND,"Button",0x50010009,16,108,108,9
  CONTROL "Collapse all groups",IDC_CLIST_GA_COLLAPSE,"Button",0x50010009,16,97,104,9
  CONTROL "Don't change group states",IDC_CLIST_GA_NONE,"Button",0x50010009,16,86,112,9
  CONTROL "When opening the contactlist screen:",IDC_STC8,"Static",0x50000000,6,64,122,9
  CONTROL "Use groups/subgroups",IDC_CLIST_USEGROUPS,"Button",0x50010003,6,35,118,11
  CONTROL "Protocol filter:",IDC_GRP58,"Button",0x50000007,132,0,128,128
  CONTROL "Show only contacts from the following protocols (you can only add connected protocols):",IDC_STC12,"Static",0x50020000,140,9,108,24
  CONTROL "",IDC_CLIST_PROTOFILTER,"SysTreeView32",0x50010007,140,36,104,80,0x00000200
  CONTROL "Use two columns",IDC_CLIST_COLUMNS,"Button",0x50010003,6,46,118,11
END
IDD_CHAT DIALOGEX 0,0,260,194
CAPTION "Chat"
FONT 8,"MS Shell Dlg",400,0,1
STYLE 0x40000400
BEGIN
  CONTROL "Maximizing",IDC_STATIC2,"Button",0x50000007,2,1,256,20
  CONTROL "When maximized",IDC_STATIC3,"Static",0x50020000,8,9,60,9
  CONTROL "Hide title",IDC_MAXIMIZED_TITLE,"Button",0x50010003,76,7,60,13
  CONTROL "Hide labels",IDC_MAXIMIZED_LABELS,"Button",0x50010003,146,7,102,13
  CONTROL "Message log",IDC_STATIC4,"Button",0x50000007,2,25,256,72
  CONTROL "Maximized scrolling",IDC_SESSION_SCROLL_MAXIMIZED,"Button",0x50010003,8,35,104,13
  CONTROL "Size of the log:",IDC_STATIC6,"Static",0x50020000,8,72,48,9
  CONTROL "",IDC_SESSION_LOGSIZE,"Edit",0x50012080,62,70,30,13,0x00000200
  CONTROL "events",IDC_STATIC5,"Static",0x50020000,94,72,24,9
  CONTROL "On incoming messages:",IDC_STATIC8,"Static",0x50020000,124,35,90,13
  CONTROL "Do nothing",IDC_SESSION_SCROLLNONE,"Button",0x50010009,136,46,90,13
  CONTROL "Scroll to the first line",IDC_SESSION_SCROLLFIRST,"Button",0x50010009,136,57,108,13
  CONTROL "Scroll to the last line",IDC_SESSION_SCROLLLAST,"Button",0x50010009,136,68,90,13
  CONTROL "Replying",IDC_STATIC7,"Button",0x50000007,2,101,256,46
  CONTROL "Show linebreak indicators",IDC_SESSION_SYMBOLS,"Button",0x50010003,8,110,120,13
  CONTROL "Send messages with return, insert linebreaks with ctrl+return",IDC_SESSION_SENDRETURN,"Button",0x50010003,8,121,202,13
  CONTROL "Maximized replying",IDC_SESSION_REPLY_MAXIMIZED,"Button",0x50010003,8,132,120,13
  CONTROL "Show timestamps",IDC_SESSION_TIMESTAMPS,"Button",0x50010003,8,46,104,13
END
IDD_PREFS DIALOGEX 6,6,260,152
CAPTION "Test"
FONT 8,"MS Sans Serif",0,0
STYLE 0x40000400
BEGIN
  CONTROL "Right now, the plugin has no way to get notified when a contact is moved from one group to another, or a metacontact is changed.",IDC_STC1,"Static",0x50000000,34,75,186,24
  CONTROL "Refresh Contactlist",IDC_REFRESHLIST,"Button",0x50010000,76,132,100,13
  CONTROL "You will have to refresh your contactlist manually after changing it.",IDC_STC2,"Static",0x50000000,34,114,186,17
  CONTROL "The Trillian API provides those events only for protocol plugins.",IDC_STC3,"Static",0x50000201,28,99,202,13
  CONTROL "Important information:",IDC_GRP1,"Button",0x50000007,2,64,254,85
  CONTROL "About:",IDC_GRP2,"Button",0x50000007,2,0,254,61
  CONTROL "TrillianG15 + MirandaG15",IDC_STC4,"Static",0x50000000,80,7,108,11
  CONTROL "© 2006 by Martin Kleinhans",IDC_STC5,"Static",0x50000000,6,49,98,9
  CONTROL "For updates and news check the thread on http://www.g15forums.com",IDC_STC6,"Static",0x50000000,14,18,230,11
  CONTROL "Or visit http://www.mkleinhans.de",IDC_STC7,"Static",0x50000000,72,27,112,9
  CONTROL "mail@mkleinhans.de",IDC_STC9,"Static",0x50000000,186,49,68,9
  CONTROL "Credits",IDC_CREDITS,"Button",0x50010000,84,38,80,11
END
